@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "KoHo";
}

/* Hide horizontal scrollbar, keep vertical smooth */
html, body {
    overflow-x: hidden;
}

/* Hide scrollbar but keep scroll functionality */
html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}